@keyframes fadIn{
    0% {
        
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.backgroundImage{
    animation: fadIn 800ms ease-out;
    height: 100vmax;
}

.widthfix{
    width: 100%;
    height: auto;
}

.hightfix{
    width: auto;
    height: 100%;
}