.clock-box {
    width: 110px;
    height: 40px;
    top:15px;
    left:20px;
    background: transparent;
    border-radius: 25px;
    position: absolute;
    transition: 0.5s;
}

.clock {
    text-align: center;
    top: 30px;
    left: 30px;
    width: 110px;
    height: 35px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    transition: 0.5s;
}

.clock:hover{
    transform: scale(1.3);
    color: #F7CAC9;
}