@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.bottom {
    position: absolute;
    width: 100%;
    left: 2%;
    top: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6px;
    position: absolute;
    font-style: italic;
    color:white;
    font-family: 'Hanna', sans-serif;
}

.quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
}