.todo-box {
    left:10px;
    width: 17%;
    height: 340px;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: none;
}

.todo-form {
    height:27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input { /*입력할 때 */
    margin: 4px 0 0 0;
    justify-content: center;
    background: none;
    height: 25px;
    border:none;
    outline: none;
    color: white;
    border-bottom: 2px solid #F7CAC9;
    text-align: center;
    position: absolute;
    font-size: 15px;
    font-style: italic;
    transition: 0.5s;
}
.todo-input::placeholder {
    color:rgba(255,255,255,0.6);
    font-weight: 250;
    font-size: 12px;
}
.todo-input:hover {
    transform: scale(1.1);
}
.todo-list-box { /*투두 리스트 박스*/
    background:none;
    color: #FFFFFF;
    position: absolute;
    top:40px;
    width:100%;
    height: 300px;
    font-size: 14px;
    border: none;
    transition: 0.5s;
}
.todo-list-box:hover {
    background-color: #92A8D1;
    color: white;
}
#todo-list { /*투두 리스트 내용*/
    margin-left: -20px;
}
.tododeleteBtn {
    background: none;
    margin: 0 0 0 10px;
    border-radius: 25px;
    border: 0.5px solid rgba(255, 255, 255, 0.0);
}