.weather-box {
    width: 150px;
    height: 100px;
    color: #92A8D1;
    font-style: italic;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px); /*블러 정도*/
    position: relative;
    transition: 0.5s;
}

.weather-box:hover{
    transform: scale(1.4);
    color: #FFFFFF;
    border: 1px solid #92A8D1;
    background-color:#92A8D1;
}

.weather {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 55px;
    height: 55px;
    font-weight: bold;
}

.city {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 120px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}